* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	background-color: #0d1117;
	font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0d1117;
    color:rgb(235, 235, 235);
    height: 1000px;
    font-size: 160px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.section1 {
    text-align: center;
}
.section2 {
    font-size: 40px;
    text-align: center;
}



nav {
    display: flex;
    background-color: rgb(1,4,9);
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    height: 60px;
    border-bottom: solid rgb(255, 255, 255, .6);
}

nav h1 {
    padding-left: 20%;
    padding-right: 1%;
    font-size: 50px;
    color: rgba(251, 251, 251, 0.674);
    
    
}

nav button {
    color:rgb(235, 235, 235);
    background-color: rgb(46, 46, 46);
    font-size: 20px;
    padding: 10px;
    
}
.b1 {
    background-color: rgb(10, 102, 194);
    
}

.b3 {
    background-color: rgb( 0, 3, 51);
}

