* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	background-color: #0d1117;
	font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0d1117;
    color:rgb(235, 235, 235);
    height: 1000px;
    font-size: 160px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.section1 {
    text-align: center;
}
.section2 {
    font-size: 40px;
    text-align: center;
}



nav {
    display: flex;
    background-color: rgb(1,4,9);
    font-family: 'Roboto', sans-serif;
    height: 60px;
    border-bottom: solid rgb(255, 255, 255, .6);
    justify-content: center;
    padding-left: 5%;
}


nav h1 {

    font-size: 50px;
    color: rgba(251, 251, 251, 0.674);
    padding-right: 30%;
    white-space: nowrap;
    
    
}
@media (max-width: 1000px) {
    nav {
       height: 140px;
       flex-direction: row;
       flex-wrap: wrap;

    }
    nav h1 {
        padding-left: 0%;
        padding-right: 30%;
    }
}

nav button {
    color:rgb(235, 235, 235);
    background-color: rgb(46, 46, 46);
    font-size: 20px;
    padding: 10px;
    border-radius: 12px;
    
}

.section2 {
    padding-bottom: 20px;
}


.b1 {
    background-color: rgb(10, 102, 194);
}

.b3 {
    background-color: rgb( 0, 3, 51);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    width: 100%;
    margin: auto;
}
@media(max-width: 1400px){
    .grid{
        grid-template-columns: 1fr;
    }
}

.box {
    font-size: 20%;
    border-color: aquamarine;
    border: solid;
    border-radius: 10px;
    background-color: #0d1117;
}

.box img {
    width: auto;
    height: auto;
    max-height: 200px;
    margin: 15px;
    margin-left: 4px;
    margin-right: 4px;
    
}